body{
    scroll-behavior: smooth;
}


.project-three{
    background: #F4F2FB;
}
.project-3img{
    width: 75rem;
height: 25rem;
flex-shrink: 0;

display: flex;
justify-self: center;
align-self: center;
margin-top: 10.5rem;
}
.projectthree-a{
display: inline-flex;
align-items: flex-start;
gap: 11.8125rem;

max-width: 90rem;
    margin: 0 auto;

padding-left: 7.5rem;
margin-bottom: 8rem;
}
.projectthree-aa{
display: flex;
width: 23.9375rem;
padding-top: 7.5rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;

position: sticky;
flex: 1;
top: 6rem; 
height: fit-content;
}
.head-three{
    display: flex;
width: 21.5rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}
.head-three h4{
    color: #87909D;
font-family: "Helvetica Neue";
font-size: 0.8125rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 123.077% */
letter-spacing: 0.00488rem;
align-self: stretch;
}
.head-three h2{
    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
letter-spacing: 0.032rem;
align-self: stretch;
}
.projectthree-aa p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
align-self: stretch;
}
.projectthree-aa p a{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
letter-spacing: 0.009rem;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.project-three-b{
    display: flex;
width: 39.25rem;
padding-top: 7.5rem;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}
.project-three-b h2{
    color: #2F80ED;
font-family: "Helvetica Neue";
font-size: 1.375rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 109.091% */
letter-spacing: 0.00825rem;
align-self: stretch;
}
.project-three-b  p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
}
.project-three-c{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
}
.project-three-c p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
}
.frame-one{
    display: inline-flex;
align-items: flex-start;
gap: 11.8125rem;

padding-left: 7.5rem;
margin-top: 10.75rem;

max-width: 90rem;
    margin: 0 auto;
}
.frame-one-a{
    display: flex;
/* width: 21.5rem; */
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;


position: sticky;
flex: 1;
top: 6rem; 
height: fit-content;
}
.frame-one-a h2{
    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
letter-spacing: 0.032rem;
}
.frame-one-b{
    display: flex;
width: 39.25rem;
/* padding-top: 7.5rem; */
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}
.frame-one-b h2{
    color: #2F80ED;
font-family: "Helvetica Neue";
font-size: 1.375rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 109.091% */
letter-spacing: 0.00825rem;
}
.frame-one-b p{
    align-self: stretch;
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
}
.frame1-c{
    display: flex;
width: 39.25rem;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}
.frame1-c p{
    color: #2F80ED;
font-family: "Helvetica Neue";
font-size: 1.375rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 109.091% */
letter-spacing: 0.00825rem;
align-self: stretch;

margin-top: 1rem;
}
.frame1-cc{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
}
.frame1-cc p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
}
.frame-two{
    display: flex;
     width: 35.1875rem; 
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;

padding-left: 7.5rem;
margin-top: 10rem;
}
.frame-two-a{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
align-self: stretch;
}
.frame-two-a h2{
    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
letter-spacing: 0.032rem;

width: 36.6785rem;
}
.frame-two p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
width: 48.9875rem;
}
.cubo{
    padding-left: 7.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*
.frame-three{
    padding-left: 7.5rem;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
align-self: stretch;
}
.frame-threehead{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
align-self: stretch;
}
.frame-threehead h2{
    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; 
letter-spacing: 0.032rem;
}
.frame-three p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
letter-spacing: 0.009rem;
width: 48.9375rem;
}
*/
.imag1{
    padding-left: 7.5rem;
}
.frame-four{
    display: inline-flex;
    align-items: flex-start;
    gap: 4.5625rem;

    padding-left: 7.5rem;
    margin-top: 5.5rem;
}
.frame-four-head{
    display: flex;
width: 31.1875rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}
.frame-four-head h2{
    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
letter-spacing: 0.032rem;
}
.frame-four-head p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
}
.frame-four-b{
    width: 39.25rem;
height: 22.18713rem;

position: relative;
}
.frame-four-b img{
    position: absolute;
}
.four-img{
    left: 58px;
}
.frame-five{
    display: flex;
width: 75rem;
padding: 3.12494rem 1.6875rem 4.47575rem 1.75rem;
justify-content: center;
align-items: flex-start;
gap: 1.66725rem;
border-radius: 0.5rem;
background: #FFF;

margin-left: 7.5rem;
margin-top: 5.5rem;
}
.frame-six{
    display: flex;
width: 75rem;
padding: 3.12538rem 1.6875rem 0 1.75rem;
justify-content: center;
align-items: flex-start;
gap: 1.625rem;
border-radius: 0.5rem;
background: #FFF;

margin-left: 7.5rem;
margin-top: 3rem;
}
.frame-7{
    display: flex;
width: 75rem;
padding: 3.125rem 1.6875rem 0 1.75rem;
justify-content: center;
align-items: flex-start;
gap: 1.625rem;
border-radius: 0.5rem;
background: #FFF;

margin-left: 7.5rem;
margin-top: 3rem;
}
.frame-8{
display: inline-flex;
align-items: flex-start;
gap: 5.3125rem;
}
.frame-8a{
display: flex;
width: 33.9375rem;
flex-direction: column;
align-items: flex-start;
gap: 0.25rem;
}
.frame-8a h2{
    color: #1A1A1A;
    font-family: "Helvetica Neue";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 150% */
    letter-spacing: 0.032rem;
    align-self: stretch;
}
.frame-8a p{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
align-self: stretch;
width: 33.9875rem;
}
.frame-8a p a{
    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
letter-spacing: 0.009rem;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.learning-section {
    /* background-color: #f8f8fb; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 10px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;


      display: inline-flex;
align-items: flex-start;
gap: 5.3125rem;
margin-left: 7.5rem;
  }
  
  .learning-container {
    max-width: 720px;
    color: #333;
  }
  
  .learning-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111;
  }
  
  .learning-text {
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
    margin-bottom: 16px;

    color: #556070;
    font-family: "Helvetica Neue";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 144.444% */
    letter-spacing: 0.009rem;
    align-self: stretch;
    width: 33.9875rem;
  }
  
  .learning-link {
    font-size: 1rem;
    margin-top: 24px;

    color: #556070;
    font-family: "Helvetica Neue";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 144.444% */
    letter-spacing: 0.009rem;
    align-self: stretch;
    width: 33.9875rem;
  }
  
  .learning-link a {
    color: #5b4ef4;
    text-decoration: none;
    transition: color 0.3s ease;

    color: #556070;
    font-family: "Helvetica Neue";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: 0.009rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
  
  .learning-link a:hover {
    text-decoration: underline;
    color: #3d2ef7;
  }


  .wireframing-section {
    display: flex;
    margin-left: 7.5rem;
    /* justify-content: cen; */
    align-items: flex-start;
    padding: 80px 10px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .wireframing-container {
    max-width: 720px;
    /* color: #333; */
  }
  
  .wireframing-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #111;

    color: #1A1A1A;
font-family: "Helvetica Neue";
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: 3rem; /* 150% */
letter-spacing: 0.032rem;
  }
  
  .wireframing-text {
    font-size: 1rem;
    line-height: 1.7;
    color: #444;
    margin-bottom: 16px;


    color: #556070;
font-family: "Helvetica Neue";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; /* 144.444% */
letter-spacing: 0.009rem;
width: 48.9375rem;
  }



/*  */










@media (max-width: 768px) {
  .project-3img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  .project-3img img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 400px) {
  .project-3img {
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
  }

  .project-3img img {
    width: 100%;
    height: auto;
  }
}
